<style>
.ti1 {
    display:inline-block;
    width: 120px;
}
.nav #navPre, .nav #navNex {
    display: inline-block;
    background-color: #d3dce0;
    border: 1px solid #787878;
    cursor: pointer;
    text-align: center;
    margin-right: 8px;
    height: 15px;
    width: 15px;
    padding: 7px;
    line-height:12px;
}

    .nav #navPre:hover, .nav #navNex:hover {
        background-color: #c7d1d6;
    }

.nav #newsNo, .nav #newsNoMax {
    display: none;
}

#news {
    position: relative;
}

#loading {
    position: absolute;
    left: 0;
    top: -18px;
    text-align: center;
    width: 100%;
    height: 100%;
}

    #loading #iron {
        display: inline-block;
        width: 30px;
        height: 30px;
        background: url("/hots/Content/loading.gif") no-repeat;
    }

#newsTitle {
    font-size: small;
    font-weight: normal;
}

    #newsTitle span {
        margin: 15px;
    }

#news {
    font-size: small;
}

</style>
<header>
    <div class="content-wrapper">
        <div class="float-left">
            <p class="site-title">
                <a href="~/">暴风英雄 Web API</a></p>
        </div>
    </div>
</header>
<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>游戏版本</h1><h2>1.1</h2>              
            </hgroup>
                <p><span class="ti1">接口使用方法:  </span> @Html.ActionLink("点击这里", "ApiManual",null, new {target="_blank" })</p>
                <p><span class="ti1">英雄JSON接口:  </span><a href="http://121.42.147.86/hots/api/GetHero?id=-1">http://121.42.147.86/hots/api/GetHero?id=-1</a></p>
                <p><span class="ti1">英雄JSONP接口: </span><a href="http://121.42.147.86/hots/api/GetHero?id=-1&callback=?">http://121.42.147.86/hots/api/GetHero?id=-1&callback=?</a></p>
                <p><span class="ti1">技能JSON接口:  </span><a href="http://121.42.147.86/hots/api/GetSkill?id=-1">http://121.42.147.86/hots/api/GetSkill?id=-1</a></p>
                <p><span class="ti1">技能JSONP接口: </span><a href="http://121.42.147.86/hots/api/GetSkill?id=-1&callback=?">http://121.42.147.86/hots/api/GetSkill?id=-1&callback=?</a></p>
                <p><span class="ti1">天赋JSON接口:  </span><a href="http://121.42.147.86/hots/api/GetTalent?id=-1">http://121.42.147.86/hots/api/GetTalent?id=-1</a></p>
                <p><span class="ti1">天赋JSONP接口: </span><a href="http://121.42.147.86/hots/api/GetTalent?id=-1&callback=?">http://121.42.147.86/hots/api/GetTalent?id=-1&callback=?</a></p>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <h3>暴风英雄最近资讯<span id="newsTitle"></span><span class="nav float-right"><span id="newsNo"></span><span id="newsNoMax"></span><span id="navPre"><</span> <span id="navNex">></span></span></h3>
        <ol class="round" id="news">

        </ol>
    </section>
</div>

<script type="text/javascript">
    function title(msg)
    {
        return "<span>类型：" + msg.Type + "<span>发布时间：" + msg.Date + "</span><span>来源：" + msg.From + "</span><span><a target='blank' href='" + msg.Link + "'>详细</a>";
    }
    $('#navPre').click(function () {
        var no = Number($('#newsNo').html()) +1;
        update();
        $.ajax({
            url: '@Url.Content("~/api/Nav")',
            type: 'get',
            data: { act: no },
            success: function (msg) {
                $('#newsTitle').html(title(msg));
                $('#news').html(msg.Content);
                $('#newsNo').html(msg.ID);
                compareNo(msg.ID);
            },
            error: function (err) {
                $('#news').html('Error: ' + err);
            }
        });
    });

    $('#navNex').click(function () {
        update();
        var no = Number($('#newsNo').html()) - 1;
        $.ajax({
            url: '@Url.Content("~/api/Nav")',
            type: 'get',
            data: { act: no },
            success: function (msg) {
                $('#newsTitle').html(title(msg));
                $('#news').html(msg.Content);
                $('#newsNo').html(msg.ID);
                compareNo(msg.ID);
            },
            error: function (err) {
                $('#news').html('Error: ' + err);
            }
        });
    });
function update() {
    $('#news').append('<div id="loading"><div id="iron"></div>');
};
$(document).ready(function () {
    update();
    $.ajax({
        url: '@Url.Content("~/api/getLastNews")',
        type: 'get',
        success: function (msg) {
            $('#newsTitle').html(title(msg));
            $('#news').html(msg.Content);
            $('#newsNo').html(msg.ID);
            $('#newsNoMax').html(msg.ID);
            $('#navPre').hide();
        },
        error: function (err) {
            $('#news').html('Error: ' + err);
        }
    });
});
function compareNo(no) {
    $('#navPre').show();
    $('#navNex').show();
    var noMax = $('#newsNoMax').html();
    if (no == 1) {
        $('#navNex').hide();
    }
    if (no == noMax) {
        $('#navPre').hide();
    }
}
</script>